amqp==5.3.1
asgiref==3.12.1
billiard==4.2.4
boto3==1.43.85
boto3-stubs==1.43.86
botocore==1.43.85
botocore-stubs==1.43.67
celery==5.6.3
celery-types==0.26.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
Django==6.0.8
django-celery-beat==2.9.0
django-environ==0.14.0
django-storages==1.14.6
django-timezone-field==7.2.2
idna==3.19
jmespath==1.1.0
kavenegar==1.1.2
kombu==5.6.2
packaging==26.3
pillow==12.3.0
prompt_toolkit==3.0.53
python-crontab==3.4.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
types-s3transfer==0.16.0
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
